@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

.App {
  width: 80vw;
  margin: 0 auto;
}


.navbar {
  font-family: 'Open Sans';
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 750px;
  margin: 0 auto;
  padding: 2% 0 2% 0;
  border-bottom: 2px solid gray;
}

.navbar-title {
  color: rgb(255, 37, 37);
  font-family: "Open Sans";
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 3%;
}

.links {
  margin-left: auto;
  margin-right: 3%;
}

.links>a {
  margin-left: 15px;
  text-decoration: none;
  padding: 10px;
  font-size: small;
  border-radius: 15px;
  background-color: rgba(226, 19, 19, 0.733);
  color: white;
}

.links>a:hover {
  background-color: rgb(226, 19, 19);
}

.btn-container {
  margin-top: 15px;
  width: 100%;
  display: flex;
}

.btn-container>button {
  width: 65px;
  margin: 0 auto;
}

.content>h1 {
  text-align: center;
}

.Home {
  margin-top: 15px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview a {
  text-decoration: none;
}

.blog-preview:hover {
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
  background: rgb(250, 250, 250);
}

.blog-preview h2 {
  font-size: 20px;
  color: #F1356d;
  margin-bottom: 8px;
}

.name-button-container {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  background: rgb(211, 211, 211);
  border-radius: 20px;
  padding: 15px 5px;
  width: 100%;
  align-items: center;
}

.blog-details{
  margin-top: 25px;
}

.blog-details h2{
  font-size: 20px;
  color: #F1356d;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

.blog-details button{
  background: #F1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border: 8px;
  cursor: pointer;
}